
#luminary-activate {
  position: absolute;
  top:      50px;
  right:    0;
}

#luminary {
  background: rgba(0,0,0,0.8);
  width:      100%;
  height:     100%;
  z-index:    1000;
  top:        0;
  left:       0;
  position:   absolute;

  * {
    border-radius: 0;
  }

  pre.raw-data {
    color: #3498db;
    padding: 1em;
    margin: 0.75em 0;
    font-size: 1em;
    line-height: 1.428571429;
    background-color: #ecf0f1;
    border: 0;
  }

  #luminary-nav {
    width:  15%;

    li {
      a {
        .lnav-subtitle {
          font-size: 0.6em;
          color: #eee;
        }
      }
      &:hover, &:active {
        .lnav-subtitle {
          color: #333;
        }
      }
    }
  }

  #luminary-body {
    background: rgba(255,255,255,0.8);
    width:  85%;
    height: 100%;
    padding: 1em;
    overflow-y: auto;

    .tab-content {
      height: 100%;

      .luminary-data {
        @extend pre;
        font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
      }

      table .table {
        margin-bottom:0;
      }
    }

    #editor {
      pre {
        background-color: transparent;
      }
    }
  }
}

